<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_w8l6yEnov4WZ5hU0XG6ylBoFwDPJ6sc</string>
	<key>GCM_SENDER_ID</key>
	<string>261619279679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hanbatCapstone</string>
	<key>PROJECT_ID</key>
	<string>hanbat-capstone-9b1af</string>
	<key>STORAGE_BUCKET</key>
	<string>hanbat-capstone-9b1af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261619279679:ios:343e68d833e239b7af558a</string>
</dict>
</plist>